.topNav{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(82,82,82,1) 100%);
}
.topNav a{
    flex-direction: row;
    color: white;
   
}
.topNav a:hover{
    background-color: ;
}
body{
    background: rgb(82,82,82);
    background: linear-gradient(89deg, rgba(82,82,82,1) 0%, rgba(0,0,0,1) 100%);
}
.DivOne{
    color: #39FF14;
    display: flexbox;
    flex-direction: column;
    margin-top: 4%;
    
    margin-right: 50%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(82,82,82,1) 100%);
}
h1{
    color: white;
}
.Update{
    color: #39FF14;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(82,82,82,1) 100%);
    display: flexbox;
    flex-direction: column;
    margin-left: 85%;
    margin-top:-8%;
    width: 15%;
    
    
}