.topNav{
    background: url(850885_black-marble-related-keywords-suggestions-black-marble-long_2048x2048_h.jpg);
}
.topNav a{
    flex-direction: row;
    color: white;
    background-color: gray;
}
.topNav a:hover{
    background-color: ;
}